*.Cache
UNICOMP PALLET/obj/Debug/UNICOMP PALLET.exe
UNICOMP PALLET/obj/Debug/UNICOMP PALLET.pdb
UNICOMP PALLET/obj/Release/UNICOMP PALLET.exe
UNICOMP PALLET/obj/Debug/UNICOMP PALLET.exe
UNICOMP PALLET/obj/Debug/UNICOMP PALLET.exe
UNICOMP PALLET/obj/Debug/UNICOMP PALLET.vbproj.GenerateResource.Cache
*.tmp